@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Intelligent CT</h1>
        <p class="lead">
            The Intelligent CT Imaging Management System is a web application designed for a
            medical imaging services company.
        </p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div id="picture_container">
        <img src="../../backgound.jpg" alt="Alternate Text" style="width: 100%; height: auto;"/>
    </div>
</main>